@page
@{
}

<html>
<head>
	<title>Account Details</title>
	<link rel="stylesheet" type="text/css" href="~/css/AccountDetails.css">
</head>
<body>
	<div class="account-box">
		<h2>Account Details</h2>
		<form>
			<div class="user-box">
				<label>First Name&nbsp;</label>
				<input type="text" name="firstName" value="Mihail" required="">
			</div>
			<div class="user-box">
				<label>Last Name&nbsp;</label>
				<input type="text" name="lastName" value="Popescu" required="">
			</div>
			<div class="user-box">
				<label>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="email" name="email" value="mihai@example.com" required="">
			</div>
			<div class="user-box">
				<label>Password&nbsp;&nbsp;&nbsp;</label>
				<input type="password" name="password" value="********" required="">
			</div>
			<div class="user-box">
				<label>Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="text" name="address" value="123 absda" required="">
			</div>
			<div class="user-box">
				<label>City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="text" name="city" value="Oras" required="">
			</div>
			<div class="user-box">
				<label>Zip Code&nbsp;&nbsp;&nbsp;</label>
				<input type="text" name="zipCode" value="21315" required="">
			</div>
			<input type="submit" name="" value="Save Changes">
		</form>
	</div>
</body>
</html>
