@page
@{
}

<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="~/css/Login.css">
</head>
<body>
	<div class="login-box">
		<h2>Login</h2>
		<form>
			<div class="user-box">
				<label>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="text" name="" required="">
			</div>
			<div class="user-box">
				<label>Password&nbsp;&nbsp;</label>
				<input type="password" name="" required="">
			</div>
			<a href="/ForgotPassword">Forgot password?</a>
			<a href="/CreateAccount">Don't have an account?</a>
			<input type="submit" name="" value="Submit">
		</form>
	</div>
</body>
</html>