@page
@{
}

<head>
    <link rel="stylesheet" href="~/css/Mobile.css" />
</head>



<div class="plan-container">
    <div class="plan">
        <div class="plan-title">Basic Plan</div>
        <div class="plan-type">Prepaid</div>
        <div class="plan-description">20GB of internet, unlimited calls & texsts </div>
        <div class="plan-buttons-container">
            <button class="plan-button plan-add-to-cart">Add to Cart</button>
            <button class="plan-button plan-buy-now">Buy Now</button>
        </div>
    </div>

    <div class="plan">
        <div class="plan-title">Unlimited Plan</div>
        <div class="plan-type">Postpaid</div>
        <div class="plan-description">Everything Unlimited</div>
        <div class="plan-buttons-container">
            <button class="plan-button plan-add-to-cart">Add to Cart</button>
            <button class="plan-button plan-buy-now">Buy Now</button>
        </div>
    </div>

    <div class="plan">
        <div class="plan-title">Family Plan</div>
        <div class="plan-type">Postpaid</div>
        <div class="plan-description">Everything Unlimited</div>
        <div class="plan-buttons-container">
            <button class="plan-button plan-add-to-cart">Add to Cart</button>
            <button class="plan-button plan-buy-now">Buy Now</button>
        </div>
    </div>
</div>