@page
@{
}


<html>
<head>
    <title>Purchase Item</title>
    <link rel="stylesheet" type="text/css" href="~/css/Purchase.css">
</head>
<body>
    <div class="purchase-box">
        <h2>Purchase Item</h2>
        <form>
            <div class="user-box">
                <label>First Name&nbsp;</label>
                <input type="text" name="firstName" required>
            </div>
            <div class="user-box">
                <label>Last Name&nbsp;</label>
                <input type="text" name="lastName" required>
            </div>
            <div class="user-box">
                <label>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="email" name="email" required>
            </div>
            <div class="user-box">
                <label>Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="address" required>
            </div>
            <div class="user-box">
                <label>City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="city" required>
            </div>
            <div class="user-box">
                <label>Zip Code&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="zipCode" required>
            </div>
            <div class="user-box">
                <label>Credit Card Number&nbsp;</label>
                <input type="text" name="cardNumber" required>
            </div>
            <div class="user-box">
                <label>Expiration Date&nbsp;&nbsp;</label>
                <input type="text" name="expDate" required>
            </div>
            <div class="user-box">
                <label>Security Code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input type="password" name="securityCode" required>
            </div>
            <input type="submit" name="" value="Purchase">
        </form>
    </div>
</body>
</html>
