* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.login-box {
    width: 400px;
    height: 500px;
    background-color: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    padding: 70px 30px;
}

h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box form input[type="text"],
.login-box form input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.login-box form input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: #000;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}

    .login-box form input[type="submit"]:hover {
        background-color: #262626;
    }

.login-box a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #777;
}

    .login-box a:hover {
        color: #000;
    }
